fastapi==0.111.0
uvicorn==0.30.1
llama-index-core==0.10.68
llama-index-vector-stores-qdrant==0.2.13
llama-index-embeddings-huggingface==0.2.3
llama-index-llms-ollama==0.1.5
llama-index-llms-gemini==0.1.11
llama-index-readers-file==0.1.33
qdrant-client==1.9.1
pydantic-settings==2.3.1
pypdf==4.2.0
sentence-transformers==3.0.1
torch
streamlit==1.36.0
requests==2.32.3